@import "../../styles/variables";

.header{
  background-color: $primary-white;
  width: 100%;

  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $rds-1 $rds-2 $rds-1 $rds-2;
  }

  &__logo{
    padding: $rds-1;
    display: flex;
    justify-content: center;
    align-items: center;
    width:18rem;
  }

  &__widget{
    display: flex;
    align-items: center;

    &__games{
      display: flex;
      align-items: center;
      gap:  0.3rem;

      &__title{
      }
      &__icon{
        width: 3rem;
        height: 3rem;

        & svg{
          width: 100%;
          height: 100%;
        }
      }
    }
  }

}