//colors
$primary-orange: #FB7832;
$primary-dirty_blue: #4DA09D;
$primary-orange_light: #FFE8D8;
$primary-green_light: #CCEDEB;
$primary-yellow_light: #FFFBD5;
$primary-blue_light: #D6ECF6;
$primary-white: #FFF;


//space

$rds-1: clamp(0.5rem, 0.3846rem + 0.5128vw, 1rem);